RewriteEngine On

# Include in the next line all folders to exclude
RewriteCond %{REQUEST_URI}  !(public) [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]